[Unit]
Description=Serve the web app on port 80
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
User=authapi
Group=authapi
WorkingDirectory=$WORKING_DIR/web
ExecStart=$WORKING_DIR/web/app.js >> $WORKING_DIR/web/web-info.log 2 >> $WORKING_DIR/web/web-error.log
