<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" type="text/css" href="css/map.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
  <body>
        <div id='container'>
            <div id='detailsBar'></div>
            <!-- the map -->
            <div id='slc'></div>


        </div>


  		<script>
  			var slcPosition = [40.758701, -111.876183];
  			var homeMarker = [40.779821, -111.877877];
  			var slcMap = L.map('slc', {
  				center: slcPosition,
  				zoom: 13,
  		// 		trackResize: true
  			});

            // var osmUrl = 'http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png';
            // var osmAttrib = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'

            var osmUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
            var osmAttrib = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
            var mapboxID = 'mapbox.streets';
            var accessToken = 'pk.eyJ1Ijoib3NjYXJpbnNsYyIsImEiOiJjajZ3bG5kbnUxN2h3Mnd1aDdlOTJ6ZnUzIn0.fLYowxdcPCmZSLt51mG8tw';

  			L.tileLayer(osmUrl, {
  				attribution: osmAttrib,
  				maxZoom: 18,
                id: mapboxID,
                accessToken: accessToken
  			}).addTo(slcMap);


            // suggest here: https://github.com/Leaflet/Leaflet/issues/1266
            // map always show when window is resized
            $(window).on("resize", function () {
                $("#slc").width($(window).width());
                slcMap.invalidateSize();
            }).trigger("resize");

  	// 		var marker = L.marker(homeMarker).addTo(slcMap);
  	// 		marker.bindPopup("<b>This is my home</b><br>What could I show here.");

            var allUtahIDs = [];

            $.ajax({
                url: 'https://air.eng.utah.edu:8086/query',
                data: {
                    db: 'defaultdb',
                    q: 'SHOW TAG VALUES FROM airQuality WITH KEY = "ID"'
                },
                success: function (response) {
                    console.log(response)
                    var allUtahIDs = response.results[0].series[0].values.map(function(d) {
                        return d[1];
                    });

                    // response = response.results[0].series.map(function (d) {
                    //     return d.tags; //pulls out tag to clean up data for distance finding
                    // });

                    //closest needs to be sensor info, not distance to closest sensor
                    // var closest = findDistance(response, mark); //returns closest sensor using distance equation
                    // callback(closest);
                },
                error: function () {
                    console.warn(arguments);
                }
            });



  		</script>

  </body>
</html>
